.alertContainer {
  background-color: rgb(248, 6, 6,0.6);
  width: 50%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  padding: 0.4vw;
  color: rgb(255, 255, 255);
}

@keyframes blink {
  0% {
    color: rgb(179, 255, 0);
  }
  50% {
    color: rgb(83, 30, 3);
  }
  100% {
    color: rgb(179, 255, 0);
  }
}

#alertText {
  font-size: 6vh;
  animation: blink 2s infinite;
}

#patientName {
  color: rgb(0, 225, 255);
}

