.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subcontainer1 {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}

.subcontainer2 {
  width: 20vw;
}


.searchButton {
  background-color: rgb(249, 71, 5);
  width: auto;
}


.pdfButton {
  background-color: rgb(158, 98, 223);
  width: 20vw;
}

@media only screen and (min-width: 1601px) and (max-width: 1900px) { 

.container {
  display: block;
}

}